.navbar {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

    & .navLinks {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        position: relative;
        text-align: center;
        padding: 17px;
    }

    & .navList {
        list-style: none;
        display: flex;
        column-gap: 20px;
    }

    & .navLogo {
        max-width: 100px;
        margin: 10px 0px 10px 250px;
        
        &:hover {
            transition: 0.2s;
            transform: rotate(360deg) scale(1.5);
        }
    }

    & .navBtn:hover {
        background-color: rgba(220, 0, 0, 1);
    }
}

.descriptionSection {
    color: rgba(255, 255, 255, 0.904);
    margin-left: 250px;
    margin-top: 100px;
    background-color: #282c34;
}

.descriptionItem {
    list-style-type: none;
}

.descriptionItemSvg [data-stroke="main"] {
    stroke: rgb(99, 245, 140);
}

.descriptionTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    width: 460px;
    max-width: 100%;
}